body{
    font-family: "Roboto Medium", Ubuntu, Arial, Helvetica, sans-serif;
    background-color: #1e1930;
    color: white;
}
#score-body {
    position: absolute;
    left: 38%;
    top: 0%;
    transform: translate(0%, 0%);
    padding: 10px;
    text-align: center;
}
td{
    font-size:large;
}
th{
    font-size: 25px;
    border-bottom: 1px solid white;
}
.score{
    padding-top: 150px;
    font-size: 30px;
    background: -webkit-linear-gradient(#C43BA5,#9F3BC4 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.average{
    padding-top: 50px;
    font-size: 25px;
    color: rgb(223, 219, 219);
}
#back-to-motus{
    position: absolute;
    top: 3%;
    left: 2%;
    border-radius: 15px;
    font-size: medium;
    background-image: linear-gradient(#C43BA5, #9F3BC4);
    color: white;
    height: 40px;
    padding-left: 2%;
    padding-right: 2%;
}
a{
    color: white;

}